doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Switch
        link(rel="stylesheet", href="main.css")
    body
        .container
            .outer_shell
                .color_overlay
                    .switch
        
        script(src="jquery.js")
        script(src="app.js")
